body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1144px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1102 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:91px;
  width:904px;
  height:105px;
}
#u1103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:44px;
  width:900px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1104 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:47px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1104_ann {
  border-width:0px;
  position:absolute;
  left:145px;
  top:43px;
  width:1px;
  height:1px;
}
#u1106 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:220px;
  width:1110px;
  height:107px;
}
#u1107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1107 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1108 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1109 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:36px;
}
#u1110 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u1111 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:82px;
  height:36px;
}
#u1112 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u1113 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:0px;
  width:77px;
  height:36px;
}
#u1114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u1115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u1115 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:0px;
  width:75px;
  height:36px;
}
#u1116 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u1117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u1117 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:0px;
  width:76px;
  height:36px;
}
#u1118 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  word-wrap:break-word;
}
#u1119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u1119 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:90px;
  height:36px;
}
#u1120 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u1121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u1121 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:0px;
  width:99px;
  height:36px;
}
#u1122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  word-wrap:break-word;
}
#u1123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1123 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:0px;
  width:100px;
  height:36px;
}
#u1124 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:0px;
  width:123px;
  height:36px;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:0px;
  width:183px;
  height:36px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  word-wrap:break-word;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:100px;
  height:36px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#000099;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:36px;
  width:100px;
  height:36px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#000099;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:36px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:36px;
  width:82px;
  height:36px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#000099;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:36px;
  width:77px;
  height:36px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:36px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:36px;
  width:75px;
  height:36px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:36px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:36px;
  width:76px;
  height:36px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#000099;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:36px;
  width:90px;
  height:36px;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:36px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:36px;
  width:99px;
  height:36px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:36px;
  width:100px;
  height:36px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#000099;
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:36px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:36px;
  width:123px;
  height:36px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#000099;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:119px;
  word-wrap:break-word;
}
#u1149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:36px;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:36px;
  width:183px;
  height:36px;
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:100px;
  height:30px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:72px;
  width:100px;
  height:30px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:72px;
  width:82px;
  height:30px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:72px;
  width:77px;
  height:30px;
}
#u1158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:72px;
  width:75px;
  height:30px;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:30px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:72px;
  width:76px;
  height:30px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:72px;
  width:90px;
  height:30px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:600px;
  top:72px;
  width:99px;
  height:30px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:699px;
  top:72px;
  width:100px;
  height:30px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:799px;
  top:72px;
  width:123px;
  height:30px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:30px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:72px;
  width:183px;
  height:30px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:115px;
  width:142px;
  height:25px;
}
#u1173_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:119px;
  width:63px;
  height:17px;
  font-size:13px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:119px;
  width:63px;
  height:17px;
  font-size:13px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:115px;
  width:142px;
  height:25px;
}
#u1178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:119px;
  width:63px;
  height:17px;
  font-size:13px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:154px;
  width:98px;
  height:25px;
}
#u1181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:154px;
  width:98px;
  height:25px;
}
#u1182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:268px;
  width:73px;
  height:19px;
}
#u1183_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:268px;
  width:73px;
  height:19px;
}
#u1184_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:117px;
  width:142px;
  height:22px;
}
#u1185_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1185_input:disabled {
  color:grayText;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:154px;
  width:142px;
  height:25px;
}
#u1186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:158px;
  width:63px;
  height:17px;
  font-size:13px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:158px;
  width:63px;
  height:17px;
  font-size:13px;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:154px;
  width:142px;
  height:25px;
}
#u1191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:37px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:40px;
  width:231px;
  height:36px;
  font-size:10px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:227px;
  word-wrap:break-word;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:76px;
  width:0px;
  height:0px;
}
#u1194_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:91px;
}
#u1194_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:83px;
  width:33px;
  height:8px;
}
#u1194_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:166px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:389px;
  width:346px;
  height:165px;
  text-align:left;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:342px;
  word-wrap:break-word;
}
