body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:495px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:169px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:18px;
  color:#000000;
  line-height:16px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:89px;
  width:390px;
  height:169px;
  font-size:18px;
  color:#000000;
  line-height:16px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
