body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:314px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:147px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:59px;
  width:236px;
  height:146px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:232px;
  word-wrap:break-word;
}
