body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:923px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:890px;
  height:148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:79px;
  width:890px;
  height:148px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:886px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:47px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6_ann {
  border-width:0px;
  position:absolute;
  left:145px;
  top:43px;
  width:1px;
  height:1px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:249px;
  width:895px;
  height:117px;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:39px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:39px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:39px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:0px;
  width:105px;
  height:39px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:101px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:39px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:0px;
  width:119px;
  height:39px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:39px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:0px;
  width:107px;
  height:39px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:39px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:121px;
  height:39px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:39px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:0px;
  width:125px;
  height:39px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:121px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:39px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:0px;
  width:194px;
  height:39px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:190px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:39px;
  width:119px;
  height:36px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  text-decoration:underline;
  color:#000099;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:36px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:39px;
  width:105px;
  height:36px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:36px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:39px;
  width:119px;
  height:36px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:36px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:39px;
  width:107px;
  height:36px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:36px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:39px;
  width:121px;
  height:36px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:39px;
  width:125px;
  height:36px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:36px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:39px;
  width:194px;
  height:36px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:119px;
  height:37px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:75px;
  width:105px;
  height:37px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:75px;
  width:119px;
  height:37px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:37px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:75px;
  width:107px;
  height:37px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:75px;
  width:121px;
  height:37px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:37px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:75px;
  width:125px;
  height:37px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:37px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:75px;
  width:194px;
  height:37px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:112px;
  width:142px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:116px;
  width:63px;
  height:17px;
  font-size:13px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:116px;
  width:63px;
  height:17px;
  font-size:13px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:112px;
  width:142px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u57_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:116px;
  width:63px;
  height:17px;
  font-size:13px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:112px;
  width:142px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:187px;
  width:98px;
  height:25px;
}
#u60_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:563px;
  top:187px;
  width:98px;
  height:25px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:187px;
  width:98px;
  height:25px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:752px;
  top:296px;
  width:73px;
  height:19px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:296px;
  width:73px;
  height:19px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u64_ann {
  border-width:0px;
  position:absolute;
  left:901px;
  top:292px;
  width:1px;
  height:1px;
}
#u65_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:151px;
  width:63px;
  height:17px;
  font-size:13px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:147px;
  width:142px;
  height:22px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u67_input:disabled {
  color:grayText;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:22px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:186px;
  width:215px;
  height:21px;
  font-size:10px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:211px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:377px;
  width:234px;
  height:31px;
  font-size:10px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:230px;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:197px;
  width:0px;
  height:0px;
}
#u72_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u72_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:393px;
  width:0px;
  height:0px;
}
#u74_seg0 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u74_seg1 {
  border-width:0px;
  position:absolute;
  left:-56px;
  top:-76px;
  width:8px;
  height:80px;
}
#u74_seg2 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:32px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:377px;
  width:243px;
  height:31px;
  font-size:10px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:239px;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:732px;
  top:393px;
  width:0px;
  height:0px;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u78_seg1 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:-78px;
  width:8px;
  height:82px;
}
#u78_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:22px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:48px;
  width:215px;
  height:21px;
  font-size:10px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:211px;
  word-wrap:break-word;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:625px;
  top:69px;
  width:0px;
  height:0px;
}
#u82_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:24px;
}
#u82_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:16px;
  width:42px;
  height:8px;
}
#u82_seg2 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:16px;
  width:8px;
  height:24px;
}
#u82_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:-33px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:418px;
  width:215px;
  height:33px;
  font-size:10px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:211px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:116px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:485px;
  width:326px;
  height:115px;
  text-align:left;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:322px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:73px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:628px;
  width:326px;
  height:72px;
  text-align:left;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:322px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:112px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:727px;
  width:326px;
  height:111px;
  text-align:left;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:322px;
  word-wrap:break-word;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:418px;
  width:0px;
  height:0px;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-31px;
  width:8px;
  height:31px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-31px;
  width:63px;
  height:8px;
}
#u92_seg2 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:-102px;
  width:8px;
  height:79px;
}
#u92_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-35px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:151px;
  width:63px;
  height:17px;
  font-size:13px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:147px;
  width:142px;
  height:25px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:22px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:149px;
  width:215px;
  height:21px;
  font-size:10px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:211px;
  word-wrap:break-word;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:160px;
  width:0px;
  height:0px;
}
#u99_seg0 {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-4px;
  width:39px;
  height:8px;
}
#u99_seg1 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-9px;
  width:18px;
  height:18px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:112px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:854px;
  width:326px;
  height:111px;
  text-align:left;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:322px;
  word-wrap:break-word;
}
